* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#baslik {
    text-align: center;
}

body {
    background-color:  #E9ECEF;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
